# Exclude credentials
credentials.json
efl_users.json

# Cache and temporary files
.efl_records_cache.json
*.pyc
*.spec

# Exclude all folders except assets
/*/
!/assets/
!/tests/
.vscode/
__pycache__/
